<div class="sample3">
  <div class="c1"></div>
  <span>
  <div class="menu">
    <div class='account-page' id='account-page'>
      <div class='account-page__inner clearfix'>
        <div class='account-page__inner--left account-page__header'>
        <div class="menu-list">
          <div class="greeting">アカウントの編集</div>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'button'%>
          <%= link_to "トップページに戻る", root_url, class: 'button', data: {turbolinks: false} %>
        </div>
        </div>
        <div class='account-page__inner--right user-form'>
          <%= form_with model: current_user, local: true do |f|%>
            <div class='field'>
              <div class='menu-list'>
                <%= f.label :nickname%>
              </div>
              <div class='menu-list'>
                <%= f.text_field :nickname, autofocus: true%>
              </div>
            </div>
            <div class='field'>
              <div class='menu-list'>
                <%= f.label :email%>
              </div>
              <div class='menu-list'>
                <%= f.email_field :email%>
              </div>
            </div>
            <div class='menu-list'>
              <%= f.submit "修正する", class: 'button'%>
            </div>
          <% end %>
        </div>
        <div class="greeting">参加済みルーム一覧<div>
        <% @rooms.each do |room| %>
        <div class="menu-list">
          <%= link_to room.name, room_path(room), data: { turbolinks: false }, class: 'menu-list' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  </span>
</div>