<div class="sample3">
  <div class="c1"></div>
  <span>
    <div class="menu">
      <div class="greeting">パスワードをお忘れですか？</div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="menu-list">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="menu-list">
          <%= f.submit "パスワード再発行", class: "button" %>
        </div>
      <% end %>
    </div>
    <div class="menu-list">
    <%= render "devise/shared/links" %>
    <div>
  </span>
</div>