<body class="body_home">
  <div id="splash_home">
    <div id="splash-logo_home">読み込み中</div>
  </div><!--/splash-->
  <div class="splashbg1_home"></div>
  <div class="splashbg2_home"></div>
  <!---画面遷移用-->

 <div id="container_home">
    <header id="header_home">
      <h1 class="h1_home">UmiGame</h1>
    </header>

    <div id="container_home_index">
      <section>
            <% if user_signed_in? %>
        <div class="menu">
        <h2>ようこそ、<%="#{current_user.nickname}"%>さん</h2> 
          <span>
            <ul class="user_info">
              <li>
                <%= link_to "アカウント情報変更", "/users/#{current_user.id}/edit" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
          <%= link_to "ルームを作成する", new_room_path, class: "post" %>


        <!-- ルーム参加に関する記述 -->
        <p>ルームに参加する</p>
        <%= form_with model: @room, url: rooms_path,local: true do |f|%>
              <label class='room-form__label' for='chat_room_チャットメンバー'>ルーム一覧</label>
            </div>
            <div class='room-form__field'>
              <select>
                <option value="">ルームを選択してください</option>
                <% Room.all.each do |room| %>
                  <option><%= room.name %></option>
                <% end %>
              </select>
            </div>
          
              <%= f.submit "ルームに参加する", class: 'btn'%>
              </div>
        <% end %>
        <!-- ここまで -->
        </div>
        <% else %>
        <!-- 非ログイン時 -->
        <div class="menu">
        <h2>ようこそ、ゲストさん<h2>
          <%= link_to "ログイン", new_user_session_path, class: "post" %>
          <%= link_to "新規登録", new_user_registration_path, class: "post" %>
        </div>
        <% end %>

      </section><!--/area1-->

    </div><!--/contaier_home_index-->
  
      <footer id="footer">
      <small>&copy; copyright.</small>
    </footer>
 </div><!--/contaier_home-->


</body>
