<body class="body_home">
  <div id="splash_home">
    <div id="splash-logo_home">読み込み中</div>
  </div><!--/splash-->
  <div class="splashbg1_home"></div>
  <div class="splashbg2_home"></div>
  <!---画面遷移用-->

 <div id="container_home">
    <header id="header_home">
      <h1 class="h1_home">UmiGame</h1>
    </header>

    <div id="container_home_index">
      <section>
        <% if user_signed_in? %>
          <div class="menu">
            <div class="greeting">ようこそ、<%="#{current_user.nickname}"%>さん</div> 

              <div class="menu-list">ルームを作成する</div>
              <%= link_to new_room_path do %>
              <button class="button">作成する</button>
              <% end %>
            <div class="menu-list">ルームに参加する</div>
              <%= search_form_for @search, url: search_rooms_path do |f| %>
                <%= f.search_field :name_eq, placeholder: "ルーム名を検索", class: "room-search-form"%>
                <br>
                <%= f.submit '検索する', class: "button"%>
              <% end %>
              <span>
              <ul class="user_info">
                <li>
                  <%= link_to "アカウント情報変更", "/users/#{current_user.id}/edit", class: 'link' %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'link' %>
                </li>
              </ul>
            </span>
          </div>
        <% else %>
        <!-- 非ログイン時 -->
        <div class="menu">
        <div class="greeting ">ようこそ、ゲストさん</div>
          <%= link_to new_user_session_path do %>
            <button class="button">ログイン</button>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <button class="button">新規登録</button>
          <% end %>
        </div>
        <% end %>
        

      </section><!--/area1-->

    </div><!--/contaier_home_index-->
 </div><!--/contaier_home-->
</body>