<body class="body_room">
<div id="splash_room">
<div id="splash-logo_room">読み込み中</div>
<!--/splash--></div>
<div class="splashbg_room"></div><!---画面遷移用-->

  <div id="container_room">

    <header id="header">
    <h1><%= "ルーム名：#{@room.name}" %></h1>
    <!--タイマー機能 -->
    
    <div class="timer">
      <div class="timer-main">
        <form name="timer" class="timer-form">
        <input type="text" value="" class="timer-text">分
        <input type="text" value="" class="timer-text">秒<br>
        <input type="button" value="スタート" onclick="cntStart()" class="timer-button">
        <input type="button" value="ストップ" onclick="cntStop()" class="timer-button">
        </form>
      </div>
    </div>
    
    <!--タイマー機能 -->  
    <div class="">
    <%= link_to "トップページへ戻る", root_url, data: {turbolinks: false} %>
    </div>
    <%if current_user.id == @room.user_id %>
    <div class="">
      <%= link_to "ルームを削除する", room_path(@room), method: :delete, class:"question-destroy" %>
    <% end %>
    </div>
    </header>

  <main>
    <section class="top">
     <!-- 問題出題 -->
     <div class="quiz-select">
     <%if current_user.id == @room.user_id %>
        <%= form_with model: [@room, @question], class: 'select-form' do |f| %>
        <div id="q_select">
          <%= f.collection_select :quiz_id, @quizzes, :id, :title, {prompt: "問題を選択してください", class: 'select-form'} %>
          <br>
          <%= f.submit '問題を出題する', class: "button" %>
        </div>
        <% end %>
      <%end%>
    </div>
     <!-- 問題出題 -->

    
    </section>
     <!-- 問題表示 -->
    <section class="quiz">
      <div id="question" class="question">
        <%if @room.questions.ids.blank?%>
          <h2 class="waiting">問題が出題されるまで少々お待ちください<h2>
        <%end%>
        <%= render partial: 'questions/question', collection: @questions %>
      <div>
     <!-- 問題表示 -->
    </div>
    </section>
    <section>
      <div class="wrapper_room">

        <div class="message_room">     
          <div id="messages" class="left-box">
            <%= render partial: 'messages/message', collection: @messages %>
          </div>
        </div>

        <div class="comment_room">
          <div id="comments" class="right-box">
            <%= render partial: 'comments/comment', collection: @comments %>
          </div>
        </div>
      </div>
    </section>

    <section>
    <%if current_user.id == @room.user_id %>
      <div class="form">
        <%= form_with model: [@room, @comment], class: 'form-input' do |f| %>
          <div class="form-field">
            <%= f.text_field :comment, class: 'form-input', placeholder: 'YESかNOで返信してください' %>
          </div>
          <div class="form-submit">
            <%= f.submit '送信', class: 'form-button' %>
          </div>
        <% end %> 
      </div>
    <%else%>
      <div class="form">
        <%= form_with model: [@room, @message], class: 'form-input' do |f| %>
          <div class="form-field">
            <%= f.text_field :messages_content, class: 'form-input', placeholder: 'YESかNOで答えられる質問を入力してください' %>
          </div>
          <div class="form-submit">
          <%= f.submit '送信', class: 'form-button' %>
        <% end %>
      </div>
    <% end %>
    </section>
  </main>
  </div> <!--/container-->
</body>

