<body class="body_room">
<div id="splash_room">
<div id="splash-logo_room">読み込み中</div>
<!--/splash--></div>
<div class="splashbg_room"></div><!---画面遷移用-->

  <div id="container_room">

    <header id="header">
    <h1><%= "ルーム名：#{@room.name}" %></h1>
    </header>

  <main>
    <section>
<h2>ビデオ通話機能できたらいいなスペース</h2>
    <!--/area1--></section>
    <section>
    <h2>問題出題スペース</h2>
    <!--タイマー機能 -->
      <form name="timer">
      <input type="text" value="">分
      <input type="text" value="">秒<br>
      <input type="button" value="スタート" onclick="cntStart()">
      <input type="button" value="ストップ" onclick="cntStop()">
      </form>
    <!--タイマー機能 -->
    
    <div id="question">
    <!-- 問題出題と解答の閲覧はルーム作成者のみ -->
     <%if current_user.id == @room.user_id %>
    <!-- 問題選択プルダウン -->
        <%= form_with model: [@room, @question], local: true do |f| %>
        <div class="">
          <%= f.collection_select :quiz_id, @quizzes, :id, :title, {prompt: "問題を選択してください"} %>
        </div>
       <%= f.submit '問題を出題する' %>
        <% end %>

    <!-- 問題選択プルダウン -->
      <%end%>
    <!-- 問題出題と解答の閲覧はルーム作成者のみ -->

    <!-- 問題表示 -->
      <div id="questions" class="">
        <%= render partial: 'questions/question', collection: @questions %>
      </div>

    <!-- 問題表示 -->
    
    <!--/area2--></section>
    <section>
      <div class="wrapper_room">

      <div class="message_room">     
      <p>message</p> 
      <div class="messages">
      <!--吹き出しはじまり-->
      <div class="balloon5">
        <div class="faceicon">
          ★ここに画像を入れる <img~>★
        </div>
        <div class="chatting">
          <div id="messages" class="says">
            <%= render partial: 'messages/message', collection: @messages %>
          </div>
        </div>
      </div>
      <!--吹き出し終わり-->
      
      </div>
      </div>

      <div class="comment_room">
      <p>comment</p>
        <div id="comments" class="says">
          <%= render partial: 'comments/comment', collection: @comments %>
        </div>
      </div>
      </div>
    <!--/area3--></section>
    <section>
      <h2>メッセージ入力フォーム</h2>
    <%= form_with model: [@room, @message], class: 'form' do |f| %>
      <div class="form-input">
        <%= f.text_field :messages_content, class: 'form-message', placeholder: 'YESかNOで答えられる質問を入力してください' %>
      </div>
      <%= f.submit '送信', class: 'form-submit' %>
    <% end %>
    
    <div>
    <h2>コメント入力フォーム</h2>
    <%= form_with model: [@room, @comment], class: 'form' do |f| %>
      <div class="form-input">
        <%= f.text_field :comment, class: 'form-comment', placeholder: 'YESかNOで返信してください' %>
      </div>
      <%= f.submit '送信', class: 'form-submit' %>
    <% end %> 
    </div>

    <!--/area4--></section>
    <!--/contaier-->
  <!--/main--></main>
  </div> <!--/container-->
</body>